{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% if messages %}
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <!-- Position it -->
  <div style="position: absolute; top: 0; right: 0;">
    {% for message in messages %}
     <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Propert233</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
          {{ message }}
      </div>
    </div>

    {% endfor %}


  </div>
</div>
    {% endif %}
    <section id="aa-signin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-signin-area">
                        <div class="aa-signin-form">
                            <div class="aa-signin-form-title">
                                <a class="aa-property-home" href="index.html">Property Home</a>
                                <h4>Sign in to your account</h4>
                            </div>
                            <form method='POST'> {% csrf_token %}
                                {{ form }}
                                <button type='submit' class='btn btn-default'>Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
{% block costume_js %}
<script>
$('.toast').toast(
    data-animation = 'true',
    data-autohide = 'true',
    data-delay = 500
    )
</script>
{% endblock %}