{% extends 'base.html' %}
{% load staticfiles %}
{% block costume_css %}
    <style>
        #aa-menu-area {
            left: 0;
            padding-top: 0px !important;
            position: relative !important;
            right: 0;
            top: 35px;
            width: 100%;
            padding-bottom: 25px;
            z-index: 99;
            color: black !important;
        }


        #aa-menu-area .main-navbar .navbar-nav li a {
            color: #171313 !important;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }


    </style>
{% endblock %}
{% block content %}

    <!-- Start menu section -->
    <section id="aa-menu-area">
        <nav class="navbar navbar-default main-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- Text based logo -->
                    <!-- <a class="navbar-brand aa-logo" href="index.html"> Home <span>Property</span></a>-->
                    <!-- Image based logo -->
                    <a class="navbar-brand aa-logo-img" href="{% url "main:index" %}"><img
                            src="{% static "main/img/logo.png" %}" alt="logo"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                        <li><a href="{% url "main:index" %}"><i data-feather="home"></i></a></li>
                        <li class="active"><a href="{% url "main:list" %}">Find a Home</a></li>
                        <li><a href="{% url "main:list" %}">House Owners</a></li>
                        <li><a href="{% url 'main:contact' %}">Contact</a></li>
                         {% if not user.is_authenticated %}
                   <li><a href="{% url 'accs:registration' %}" class="aa-register">Register</a></li>
                   <li> <a href="{% url 'accs:login'%}" class="aa-login">Login</a></li>
                    {% else %} {% if user.is_staff %}
                   <li> <a href="{% url 'admin:index' %}" class="aa-register">Dashboard</a></li>
                   <li><a href="{% url 'accs:logout'%}" class="aa-login">Logout</a></li>
                        {% else %}
                   <li><a href="{% url 'customer:dashboard' %}" class="aa-register">Dashboard</a></li>
                   <li><a href="{% url 'accs:logout'%}" class="aa-login">Logout</a></li>
                   {% endif %} {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>

    <!-- Start Proerty header  -->

    <section id="aa-property-slider">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
                <div class="swiper-slide"><img src="{% static 'main/img/property/p7qsm6d8oooh1bp058ir.jpg' %}"></div>
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- End Proerty header  -->


    <!-- Start Properties  -->
    <section id="aa-properties">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Appartment Name</h3>
                            <p><i class="fa fa-map-marker"></i>Accra</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>About this home</h3>
                            <p>Amity is a multi-unit co-living space in Yaba,
                                just minutes from University of Lagos, and Sabo.
                                This location includes ensuite rooms, a rooftop space
                                and 2 shared kitchens. A quarterly deposit of N 50,000
                                is due upon move-in to Aspire Power Solutions for electricity.
                                A back-up Solar + Battery system will be available during power
                                blackouts from PHCN.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Property Type</h4>
                            <p>Full Home</p>
                        </div>
                        <div class="col-md-3"><h4>Total Rooms</h4>
                            <p><span>1 bed</span><span>1 bathroom</span></p></div>
                        <div class="col-md-3"><h4>Earliest Move In</h4>
                            <p><span>23th March 2019</span></p></div>
                        <div class="col-md-3"><h4>Lease Available</h4>
                            <p><span>6 Months</span> <span>12 Months</span></p></div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>What's included in my service charge?</h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <h4>Exterior</h4>
                            <ul>
                                <li> Cleaning</li>
                                <li>Fumigation</li>
                                <li>Generator Maintenanc</li>
                                <li>Gardening and grounds maintenance</li>
                                <li>Painting</li>
                                <li>Security</li>
                                <li>Swimming Pool Maintenance</li>
                                <li>Waste Disposal</li>
                                <li>Water supply</li>
                                <li>Water treatment</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Interior</h4>
                            <ul>
                                <li>Cleaning</li>
                                <li>Fumigation</li>
                                <li>Painting</li>
                                <li>Servicing Air conditioners</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Utilities</h4>
                            <ul>
                                <li> Electricity costs (Generator)</li>
                                <li>Electricity costs (EKEDC)</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Amenities</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Building features</h4>
                            <ul>
                                <li>24hr Security</li>
                                <li>Foyer</li>
                                <li>18 hr power on weekdays</li>
                                <li>18 hr power on weekend</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Your home</h4>
                            <ul>
                                <li>Ensuite</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Start properties sidebar -->
                <div class="sticky-top col-md-5  ">
                    <div class="leaseside center-block">
                        <div class="leasesider-header ">
                            <a class="center-block" href="{% url "main:index" %}"><img
                                    src="{% static "main/img/logo.png" %}" alt="logo"></a>
                        </div>
                        <hr>
                        <div class="leasetab">
                            <div class="mt-3">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="active"><a data-toggle="pill" href="#appointment">Schedule Site Visit</a></li>

                                </ul>
                            </div>

                            <div class="tab-content my-4">
                                <div id="appointment" class="tab-pane fade in active">
                                    <form>
                                        <div class="form-group my-2">
                                            <label for="day">Tour Date</label>
                                            <select class="form-control" id="day">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group my-2">
                                            <label for="time">Tour Time</label>
                                            <select class="form-control" id="time">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>

                                    </form>
                                </div>
                                <div id="menu1" class="tab-pane fade">

                                </div>

                            </div>

                        </div>
                        <div class="cta-lease">
                            <button class="btn btn-lg btn-block btn-info">
                                <a href="{% url 'login' %}">Login to continue</a>
                            </button>
                            <p>You need to login to continue</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- / Properties  -->
{% endblock %}
{% block costume_js %}
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 0,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endblock %}