{% extends 'base.html' %}
{% load staticfiles %}
{% block staticfiles %}
    <style>
        #aa-menu-area {
            left: 0;
            padding-top: 0px !important;
            position: relative !important;
            right: 0;
            top: 35px;
            width: 100%;
            padding-bottom: 25px;
            z-index: 99;
            color: black !important;
        }

        #aa-property-header {

            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
            display: inline;
            float: left;
            position: relative;
            min-height: 250px;
            width: 100%;
        }

        #aa-menu-area .main-navbar .navbar-nav li a {
            color: #171313 !important;
        }

        #map {
            height: 600px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

    </style>
{% endblock %}
{% block content %}

    <!-- Start menu section -->
    <section id="aa-menu-area">
        <nav class="navbar navbar-default main-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- Text based logo -->
                    <!-- <a class="navbar-brand aa-logo" href="index.html"> Home <span>Property</span></a>-->
                    <!-- Image based logo -->
                    <a class="navbar-brand aa-logo-img" href="{% url "index" %}"><img
                            src="{% static "main/img/logo.png" %}" alt="logo"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                        <li class="active"><a href="{% url "list" %}">Browse Homes</a></li>
                        <li><a href="{% url 'property' %}">List your home</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                        <li><a href="404.html">FAQ</a></li>
                        <li><a href="contact.html">Login</a></li>
                        <li><a href="404.html">Register</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>

    <!-- Start Proerty header  -->

    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Properties Details</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">HOME</a></li>
                            <li class="active">APPARTMENT TITLE</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->


    <!-- Start Properties  -->
    <section id="aa-properties">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Appartment Name</h3>
                            <p><i class="fa fa-map-marker"></i>Accra</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>About this home</h3>
                            <p>Amity is a multi-unit co-living space in Yaba,
                                just minutes from University of Lagos, and Sabo.
                                This location includes ensuite rooms, a rooftop space
                                and 2 shared kitchens. A quarterly deposit of N 50,000
                                is due upon move-in to Aspire Power Solutions for electricity.
                                A back-up Solar + Battery system will be available during power
                                blackouts from PHCN.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Property Type</h4>
                            <p>Full Home</p>
                        </div>
                        <div class="col-md-3"><h4>Total Rooms</h4>
                            <p><span>1 bed</span><span>1 bathroom</span></p></div>
                        <div class="col-md-3"><h4>Earliest Move In</h4>
                            <p><span>23th March 2019</span></p></div>
                        <div class="col-md-3"><h4>Lease Available</h4>
                            <p><span>6 Months</span> <span>12 Months</span></p></div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>What's included in my service charge?</h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <h4>Exterior</h4>
                            <ul>
                                <li> Cleaning</li>
                                <li>Fumigation</li>
                                <li>Generator Maintenanc</li>
                                <li>Gardening and grounds maintenance</li>
                                <li>Painting</li>
                                <li>Security</li>
                                <li>Swimming Pool Maintenance</li>
                                <li>Waste Disposal</li>
                                <li>Water supply</li>
                                <li>Water treatment</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Interior</h4>
                            <ul>
                                <li>Cleaning</li>
                                <li>Fumigation</li>
                                <li>Painting</li>
                                <li>Servicing Air conditioners</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Utilities</h4>
                            <ul>
                                <li> Electricity costs (Generator)</li>
                                <li>Electricity costs (EKEDC)</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Amenities</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Building features</h4>
                            <ul>
                                <li>24hr Security</li>
                                <li>Foyer</li>
                                <li>18 hr power on weekdays</li>
                                <li>18 hr power on weekend</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Your home</h4>
                            <ul>
                                <li>Ensuite</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Start properties sidebar -->
                <div class="sticky-top col-md-5 ">
                    <form class="form-signin center-block">
                        <img class="mb-4" src="{% static "main/img/logo.png" %}" alt=""  height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                               autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- / Properties  -->
{% endblock %}